# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
/web/assets/dist/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

/bin/*
/var/*

# Composer
composer.phar

/node_modules/
/bower_components/

/web/index.html
/web/fonts/
/web/images/
/web/scripts/
/web/styles/
/web/views/
