# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
/web/assets/dist/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

/bin/*

# Composer
composer.phar

/.sass-cache/
/node_modules/
/bower_components/
